<!DOCTYPE html>
<html>
  <head>
      <!-- NOTE: Poor practice to hardcode image link. If static file location is changed, this must be changed as well.!-->
    <link rel="stylesheet" type="text/css" href="https://www.textbookcheap.net/static/style9-1-2020.css">
    <link rel = "icon" href =
"https://www.textbookcheap.net/static/favicon-16x16.png"
        type = "image/x-icon">
      <title>Textbook Search</title>
  </head>
  <body>

  <body>
    <!-- HEADER AND NAVBAR !-->

    <div class = "header small-text">
      <div class = "navbar">
        <div>
          <a class = "link" href = "..">Home</a>
        </div>
        <div>
          <a class = "link" href = " ">About us</a>
        </div>
      </div>

    </div>

    <!-- Leave content blank for blank template. -->
    <!-- HOME PAGE CONTENT !-->

    <div class = "content">
        <!--
      <div class = "advertisements left-banner">
        <div>
          Advertisement.
        </div>
        <div>
          Advertisement.
        </div>
        <div>
          Advertisement.
        </div>

      </div>





      <!-- SEARCHBAR AND SEARCH RESULTS !-->

        <div class = "title-block">
            <h2 class = "title">
                About Us
            </h2>
        </div>
      <div class = "main-viewport">

        <p>
            This website is made and maintained by Hunter Haglid and Brad Yuan. We're two first-year college students. A few months ago, probably just like you, we were looking for an efficient, safe way to find low-cost textbooks.
            While there are many different places that sell textbooks, not all of them have the best deals all the time.
            Finding the best textbook price means going to many different websites, and still not knowing if you have the best deal.
        </p>
        <p>
             Our textbook search application here at textbookcheap.net can solve this issue.
             Web scraping allows us to gather information from all these different textbook selling websites, and pass the best deals on to you.
             We're constantly adding new webscrapers to extend the breadth of the search and provide you with better results.

        </p>
        <p>

        </p>

      </div>
      <div class = "title-block">
            <h1 class = "title">

            </h1>
        </div>
    </div>
    <div class = "footer small-text">
      <div>
        <h3>Our Organization</h3> <br>
        <a class = "link" href = "www.textbookcheap.net/about">About us</a> <br>
        Contact us
      </div>
      <div>
        <h3>Site Information</h3> <br>
        Last Updated: <br>
        September 2020
      </div>
      <div>
        <!--<h3>Partner Organizations</h3> <br>
        We're not big <br>
        enough yet.-->
      </div>
    </div>
    <form>
    </form>
  </body>

</html>