<!DOCTYPE html>
<html>
  <head>
      <!-- NOTE: Poor practice to hardcode image link. If static file location is changed, this must be changed as well.!-->
    <link rel="stylesheet" type="text/css" href="http://www.textbookcheap.net/static/style9-1-2020.css">
    <link rel = "icon" href =
"http://www.textbookcheap.net/static/favicon-16x16.png"
        type = "image/x-icon">
      <title>Textbook Search</title>
  </head>
  <body>

  <body>
    <!-- HEADER AND NAVBAR !-->

    <div class = "header small-text">
      <div class = "navbar">
        <div>
          <a class = "link" href = "..">Home</a>
        </div>
        <div>
          <a class = "link" href = " ">About us</a>
        </div>
      </div>

    </div>

    <!-- Leave content blank for blank template. -->
    <!-- HOME PAGE CONTENT !-->

    <div class = "content">
    <!--
      <div class = "advertisements left-banner">
        <div>
          Advertisement.
        </div>
        <div>
          Advertisement.
        </div>
        <div>
          Advertisement.
        </div>

      </div>
    !-->




      <!-- SEARCHBAR AND SEARCH RESULTS !-->


      <div class = "main-viewport">
        <p>
            This website was made by Hunter Haglid and Brad Yuan.


        </p>
        <p>
            Textbook Search uses a process called "web scraping" to gather information from textbook sellers such as Amazon and Ebay. Web scraping allows a computer program to access and read a website. In essence, this program reads these websites for you, providing the results of its search all in one place.


        </p>

      </div>
    </div>
    <div class = "footer small-text">
      <div>
        <h3>Our Organization</h3> <br>
        <a class = "link" href = "www.textbookcheap.net/about">About us</a> <br>
        Contact us
      </div>
      <div>
        <h3>Partner Organizations</h3> <br>
        We're not big <br>
        enough yet.
      </div>
      <div>
        <h3>Information</h3> <br>
        How It Works <br>
        Webscraping
      </div>
    </div>
    <form>
    </form>
  </body>

</html>