<!DOCTYPE html>
<html>
    {% load dictionaries %}

  {% load static %}
  <head>

      <!-- NOTE: Poor practice to hardcode image link. If static file location is changed, this must be changed as well.!-->
    <link rel="stylesheet" type="text/css" href="http://hunter314.pythonanywhere.com/static/style9-1-2020.css">
    <link rel = "icon" href =
"http://hunter314.pythonanywhere.com/static/favicon-16x16.png"
        type = "image/x-icon">
      <title>Textbook Search</title>
  </head>
  <body>
    <!-- HEADER AND NAVBAR !-->

    <div class = "header small-text">
      <div class = "navbar">
        <div>
          <a class = "link" href = "http://hunter314.pythonanywhere.com/">Home</a>
        </div>
        <div>
          <a class = "link" href = "http://hunter314.pythonanywhere.com/about">About us</a>
        </div>
      </div>

    </div>

    <!-- Leave content blank for blank template. -->
    <!-- HOME PAGE CONTENT !-->

    <div class = "content">

      <div class = "title-block">
        <div class = "title">
          <h1>Textbook Search</h1>
          <h2>For all your textbook needs</h2>

        </div>
      </div>
      <div class = "advertisements left-banner small-text">
        <div>

        </div>
        <div>
          Tip: Searching by an<br> ISBN number can help<br> you find more accurate<br> results.
        </div>




      </div>


      <!-- SEARCHBAR AND SEARCH RESULTS !-->


      <div class = "main-viewport">

        <!--<img src = "{% static 'TextbookSearchIcon.png' %}" alt = logo>!-->
        <form action="{% url 'search_results' %}" method="get">
            <input name="q" class = "searchbar mid-text" type="text" placeholder="Enter search here...">
            <input class = "button" type="submit">

        </form>


        {% if searchTerm is not None %}

        <div class = "search-results small-text">
          Finding results for "{{searchTerm}}".
          Found
          {% for source in sources %}

          {{ numResults|lookup:source }} results from {{source}},

          {% endfor %}
          which are displayed below.
          {% for listing in productList %}
            <div>
              <a href={{listing.url}}>{{listing.name}}</a>

              {% if listing.price is not None %}
                <br>Price: ${{listing.price|floatformat:2}}
              {% endif %}
              {% if listing.shipPrice is not None %}
                <br>Shipping Price: ${{listing.shipPrice|floatformat:2}}
              {% endif %}
              {% if listing.rating is not None %}
                <br>Rating: {{listing.rating|floatformat:1}} / 5 stars
              {% endif %}
              {% if listing.distributor is not None %}
                <br>Sold by: {{listing.distributor}}
              {% endif %}
              <br>
            </div>
          {% endfor %}



        </div>
        {% else %}
        <div class = "search-results small-text-dark">
        Search for a textbook and we will compare prices from all the major retailers. It may take a few seconds.
        </div>
        {% endif %}
      </div>
    </div>
    <div class = "footer small-text">
      <div>
        <h3>Our Organization</h3> <br>
        <a class = "link" href = "http://hunter314.pythonanywhere.com/about">About us</a> <br>
        Contact us
      </div>
      <div>
        <h3>Partner Organizations</h3> <br>
        We're not big <br>
        enough yet.
      </div>
      <div>
        <h3>Information</h3> <br>
        How It Works <br>
        Webscraping
      </div>
    </div>
    <form>
    </form>
  </body>

</html>